<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/fav.ico">
        <title>HackerSM9 | Portfolio</title>
        <link rel="stylesheet" href="https://hackersm9.github.io/portfolio/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
        <script src="script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
      <style>
        h1 {
          font-size: 2.5em;
        }
      </style>
    </head>
    <body>
      <button onclick="topFunction()" id="myBtn" title="Go to Top"><i class="fa-solid fa-arrow-up fa-bounce"></i></button>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><span style="color: gray;">&lt;</span> <span class="brand">HackerSM9</span> <span style="color: grey;">&sol;&gt;</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tools">Tools</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#social">Social Media</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    <section id="about">
      <div class="about reveal fade-left">
        <h1>About</h1>
        <center><hr class="hr"></center>
        <embed src="https://hackersm9.github.io/SVG/sm9.jpg" class="self_img">
        <p class="p-text">I'm a Self-tought Coder, Programmer. I'm Professional in Web-Development.</p>
              <br>
                <center><a href="/metrics.html"><h5>View Full Report</h5></a></center>
              <br>
      </div>
    </section>
    <section id="skills">
      <div class="skills reveal fade-right">
        <h1>Skills / Proficiency</h1>
        <center><hr class="hr"></center>
        <div class="container">

          <div class="container__progressbars">
        
            <div class="progressbar">
              <svg class="progressbar__svg">
                <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-html shadow-html"> </circle>
              </svg>
              <span class="progressbar__text shadow-html">HTML</span>
            </div>
     
            <div class="progressbar">
              <svg class="progressbar__svg">
                <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-css shadow-css"> </circle>
              </svg>
              <span class="progressbar__text shadow-css">CSS</span>
            </div>
        
            <div class="progressbar">
              <svg class="progressbar__svg">
                <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-scss shadow-scss"> </circle>
              </svg>
              <span class="progressbar__text shadow-scss">SCSS</span>
            </div>

            <div class="progressbar">
              <svg class="progressbar__svg">
                <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-node shadow-node"> </circle>
              </svg>
              <span class="progressbar__text shadow-node">Node.js</span>
            </div>        
        </div>
      </div>
    </section>
    <section id="tools">
      <div class="tools reveal fade-left">
        <h1>Tools</h1>
        <center><hr class="hr"></center>
        Web Dev
      </div>
    </section>
    <section id="contact">
      <div class="contact reveal fade-right">
        <h1>Contact</h1>
        <center><hr class="hr">
        <form action="https://formsubmit.co/hackersm9bot@gmail.com" method="POST">
          <input type="hidden" name="_template" value="table">
            <label class="white_t">Name: </label><br>
              <input class="input" type="text" name="Name" placeholder="Enter Your Name" required><br><br>
            <label class="white_t">E-Mail: </label><br>
              <input class="input" type="email" name="E-mail" placeholder="Enter Your Email" include="@" include=".com" required><br><br>
                <input type="hidden" name="_next" value="https://HackerSM9.github.io/src/ty-page.html">
            <label class="white_t">Message: </label><br>
              <textarea cols="33" rows="5" name="Message" placeholder="Message..."></textarea><br><br>
                <button type="submit" class="button">Submit</button>
        </form></center>
      </div>
    </section>
    <section id="social">
      <div class="social reveal fade-up">
        <h1>Social Media</h1>
        <center><hr class="hr"/></center>
        <div class="icons">
          <a href="https://github.com/HackerSM9" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/hackersm9/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com/the.hackersm9" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/the_hackersm9" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </section>
    </body>
</html>